#!/bin/bash

API_ID=""
API_HASH=""
BOT_TOKEN=""
LOG_GROUP_ID=""
OWNER_ID=""
MONGO_DB_URI=""
MUSIC_BOT_NAME="Rendy Projects"
STRING_SESSION=""
AUTO_LEAVING_ASSISTANT="True"
BOT_USERNAME="RendyTapiBot"
