#!/bin/bash

API_ID=""
API_HASH=""
BOT_TOKEN=""
LOG_GROUP_ID=""
OWNER_ID=""
MONGO_DB_URI=""
MUSIC_BOT_NAME="Rendy Projects"
STRING_SESSION=""
AUTO_LEAVING_ASSISTANT="True"
SUPPORT_CHANNEL="https://t.me/RendyProjects"
UPSTREAM_REPO="https://github.com/TeamKilerX/KillerX-Music"
UPSTREAM_BRANCH="dev"
