pyrogram==1.4.16
aiofiles
bs4
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor==3.0.0
pillow
psutil
pykeyboard
python-dotenv
PyYAML
psycopg2-binary
requests
spotipy
tgcrypto
wget
youtube-search
youtube-search-python
pytgcalls==0.8.6
git+https://github.com/Randi356/yt-dlp
git+https://github.com/TeamKillerX/speedtest-cli
