aiofiles
bs4
wget
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pymongo[srv]
pillow
psutil
py-tgcalls
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml
rich
requests
speedtest-cli
spotipy
TgCrypto
youtube-search
youtube-search-python
yt-dlp
